mat-form-field {
    width: 90%;
  }

  .example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }
  
  
  mat-form-field.mat-form-field {
    font-size: 13px;
  }
  button{
    font-size: 13px;
  }

 